.lang_icon {
  margin-right: 8px;
}

.langToggle_btn {
  background: none !important;

  & p {
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
  }
}

.langDropdown_menu {
  padding: 12px;

  & a {
    padding: 8px;
    border-radius: 4px;
  }
}

.user_info {
  align-items: center;

  &-item {
    margin-left: 16px;
  }

  & .logout_icon {
    margin-right: 8px;
  }
}
