root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 150
tab_width = 4

[*.html]
indent_size = 4

[*.sass]
indent_size = 2

[{.eslintrc, .prettierrc, .babelrc, jest.config, .stylelintrc, *.bowerrc, *.jsb3, *.jsb2, *.json}]
indent_size = 2
